apiVersion: apps/v1
kind: Deployment
metadata:
  name: spring-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: spring-app
  template:
    metadata:
      labels:
        app: spring-app
    spec:
      containers:
      - name: spring-app
        image: saif4584851/student-app:1.0
        ports:
        - containerPort: 8089
        envFrom:
        - configMapRef:
            name: spring-config
        - secretRef:
            name: spring-secret
---
apiVersion: v1
kind: Service
metadata:
  name: spring-service
spec:
  selector:
    app: spring-app
  ports:
    - port: 8089
      targetPort: 8089
      nodePort: 30080
  type: NodePort
